
#r1{
  width: 300px;
  height: 300px; 
  padding: 20px;
  border: 20px solid greenyellow;
  /* border-image-source:url(ani.jpg);
  border-image-slice: 20%;
  border-image-repeat:round ;
  border-image-width: 30px;
  border-image-outset: 10px;
  background-color: red; */

  border-image: url(ani.jpg) 20% stretch;
}
